<div class="main-content">
  <!-- Navbar -->
  <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
    <div class="container px-4">
      <a class="navbar-brand" href="../index.html">
        <!-- <img src="../assets/img/brand/white.png" /> -->
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a href="../index.html">
                <img src="../assets/img/brand/blue.png">
              </a>
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Navbar items -->
        <ul class="navbar-nav ml-auto">
          
          <!-- <li class="nav-item">
            <a class="nav-link nav-link-icon" routerLink="/dashboard">
              <i class="ni ni-planet"></i>
              <span class="nav-link-inner--text">.</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" routerLink="/register">
              <i class="ni ni-circle-08"></i>
              <span class="nav-link-inner--text">.</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link nav-link-icon" routerLink="/uploader">
              <i class="ni ni-folder-17"></i>
              <span class="nav-link-inner--text">.</span>
            </a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link nav-link-icon" href="../examples/login.html">
              <i class="ni ni-key-25"></i>
              <span class="nav-link-inner--text">Login</span>
            </a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link nav-link-icon" href="../examples/profile.html">
              <i class="ni ni-single-02"></i>
              <span class="nav-link-inner--text">Profile</span>
            </a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <!-- Header -->
  <div class="header bg-gradient-primary py-7 py-lg-8">
    <div class="container">
      <div class="header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            
            <h1 class="text-white">Welcome!</h1>
            <p class="text-lead text-light">Copy and paste here.</p>
            <button type="button" class="btn btn-outline-default">{{count}} Hymns in Database</button>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">

          <form (submit)="onCreateSong(songForm)" #songForm="ngForm">
                      <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="basic-addon3">Title</span>
                            </div>
                            <input type="text" class="form-control" id="basic-url"  name="title" ngModel required>
                          </div>
                      </div>

                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Category</span>
                          </div>
                          <select class="form-control" name="category" required ngModel >
                            <option *ngFor='let option of optionList' value="{{option}}">{{option}}</option>
                          </select> 
                        </div>
                      </div>

                      <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Chorus</span>
                          </div>
                          <textarea class="form-control" rows="3" name="chorus" ngModel required></textarea>
                        </div>
                      </div>

                      <!-- stanza div -->
                      <div *ngFor="let stanza of stanzas; let i = index">
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Stanza: {{i + 1}}</span>
                              </div>
                              <textarea class="form-control" rows="5" name="stanza {{i+1}}" #stanza="ngModel" [(ngModel)] ='stanzas[i+1]' ></textarea>
                            </div>
                        </div>
                  </div>
                  <button type="submit" class="btn btn-primary btn-lg btn-block">upload</button>
                </form>
          </div>
        </div>
      </div>
    </div>
</div>

  <!-- page content ends -->

  <footer class="py-5">
    <div class="container">
      <div class="row align-items-center justify-content-xl-between">
        <div class="col-xl-6">
          <div class="copyright text-center text-xl-left text-muted">
            © 2020 <a href="https://www.adriankenya.co.ke" class="font-weight-bold ml-1" target="_blank">Morning Star Hymnal</a>
          </div>
        </div>
        <!-- <div class="col-xl-6">
          <ul class="nav nav-footer justify-content-center justify-content-xl-end">
            <li class="nav-item">
              <a href="https://www.creative-tim.com" class="nav-link" target="_blank">Creative Tim</a>
            </li>
            <li class="nav-item">
              <a href="https://www.creative-tim.com/presentation" class="nav-link" target="_blank">About Us</a>
            </li>
            <li class="nav-item">
              <a href="http://blog.creative-tim.com" class="nav-link" target="_blank">Blog</a>
            </li>
            <li class="nav-item">
              <a href="https://github.com/creativetimofficial/argon-dashboard/blob/master/LICENSE.md" class="nav-link" target="_blank">MIT License</a>
            </li>
          </ul>
        </div> -->
      </div>
    </div>
  </footer>
</div>
